@font-face
    font-family: "BrandonGrotesque-Bold"
    src: url("../Font/Brandon Grotesque/Brandon_bld.otf") format("opentype")
    font-weight: 700
    font-style: normal


@font-face
    font-family: "BrandonGrotesque-Light"
    src: url("../Font/Brandon Grotesque/Brandon_light.otf") format("opentype")
    font-weight: 300
    font-style: normal


@font-face
    font-family: "BrandonGrotesque-Medium"
    src: url("../Font/Brandon Grotesque/Brandon_med.otf") format("opentype")
    font-weight: 500
    font-style: normal


@font-face
    font-family: "BrandonGrotesque-Regular"
    src: url("../Font/Brandon Grotesque/Brandon_reg.otf") format("opentype")
    font-weight: 400
    font-style: italic